		#cpHeader{
			width: 100%;
			height: 70px;
			min-width: 1146px;
			position: relative;
			background: #666;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			z-index: 998;
		}
		
		/*  ============    ͷ����ʽ��ʼ         ===========  */
		#header{
			width: 100%;
			height: 70px;
			min-width: 1146px;
			position: relative;
			background: #666;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			z-index: 998;
		}
		.header_body {
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    background: url("/kpImg/mask.png") no-repeat;
		    z-index: 1;
		}
		.header_center {
		    width: 1146px;
		    height: 100%;
		    margin: 0 auto;
		}
		.header_logo {
		    width: 100px;
		    height: 100%;
		    background: url("/kpImg/logo@1x.png") 0 50%;
		    background-repeat: no-repeat;
		    float: left;
		}
		.header_account {
		    cursor: pointer;
		    float: right;
		    height: 100%;
		    line-height: 70px;
		    padding: 0 23px;
		    position: relative;
		}
		.header_account:hover .header_account_afterSale, .header_account:hover .header_account_hover, .header_account:hover .header_account_myCoupon, .header_account:hover .header_account_myOrder, .header_account:hover .header_account_signOut {
		    display: block;
		}
		
		i{
		    display: inline-block;
			width: 20px;
			height: 18px;
			background: url("/kpImg/icon-min.png")no-repeat;
		}
		.header_account_hover {
		    -webkit-transition: all .4s ease;
		    transition: all .4s ease;
		    font-family: Rubik-Regular,PingFang SC,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE���ź�,STHeiti,\\534E��ϸ��,sans-serif;
		    display: none;
		    position: absolute;
		    padding: 10px;
		    background: #fff;
		    top: 70px;
		    right: 0;
		    border-radius: 4px;
		    -ms-box-shadow: 0 1px 12px 0 rgba(0,0,0,.15);
		    -o-box-shadow: 0 1px 12px 0 rgba(0,0,0,.15);
		    box-shadow: 0 1px 12px 0 rgba(0,0,0,.15);
		}
		.header_account_hover > a {
		    display: block;
		    width: 110px;
		    line-height: 40px;
		    font-size: 12px;
		    text-align: center;
		 /* text-indent: 22px; */
		    color: #666;
		    position: relative;
		    font-weight: 700;
		}
		.header_account_hover a i{
			position: relative;
			top: 5px;
		}
		.header_link {
		    color: #999;
		    background: url("/kpImg/icon-min.png") no-repeat;
		    margin-top: 24px;
		}
		.header_account_hover > a:hover {
		    color: #000;
		    background: #ebebeb;
		}
		.header_cart, .header_cart > a > i, .header_cart > i {
		    -webkit-transition: all .4s ease;
		    transition: all .4s ease;
		}
		.header_cart {
		    cursor: pointer;
		    float: right;
		    height: 100%;
		    line-height: 70px;
		    padding: 0 23px;
		    position: relative;
		}
		.header_cart_number {
		    z-index: 3;
		    top: 28px;
		    left: 48px;
		    line-height: 16px;
		    font-size: 12px;
		    color: #fff;
		    height: 16px;
		    padding: 0 6px;
		    background: #fc372c;
		    border-radius: 8px;
		    text-align: center;
		    font-weight: 700;
		}
		.header_cart_hover, .header_cart_number {
		    font-family: Rubik-Regular,PingFang SC,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE���ź�,STHeiti,\\534E��ϸ��,sans-serif;
		    position: absolute;
		   /* display: none; */
		}
		.header_cart_hover {
		    -webkit-transition: all .4s ease;
		    transition: all .4s ease;
		    top: 70px;
		    padding: 0px;
		    -ms-box-shadow: 0 1px 12px 0 rgba(0,0,0,.15);
		    -o-box-shadow: 0 1px 12px 0 rgba(0,0,0,.15);
		    box-shadow: 0 1px 12px 0 rgba(0,0,0,.15);
		    background: #fff;
		    right: 0;
		    border-radius: 4px;
		    width:280px;
		}
		.header_cart_hover_list {
		    max-height: 340px;
		    overflow-y: auto;
		    display:none;
		}.header_cart_hover_list_item {
		    height: 64px;
		    padding: 10px;
		    position: relative;
		    <!-- display:none; -->
		}
		.header_cart_hover_list_item_image {
		    position: relative;
		    float: left;
		    width: 62px;
		    height: 62px;
		    border: 1px solid #eee;
		    border-radius: 4px;
		    overflow: hidden;
		}
		.header_cart_hover_list_item_image > img {
		    overflow: hidden;
		    width: 100%;
		    height: 100%;
		}
		.header_cart_hover_list_item_array {
		    font-family: Rubik-Regular,PingFang SC,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE���ź�,STHeiti,\\534E��ϸ��,sans-serif;
		    float: left;
		    color: #666;
		    font-size: 13px;
		    margin-left: 20px;
		}
		.header_cart_hover_list_item_array > li {
		    line-height: 21px;
		    width: 150px;
		    font-weight: 700;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		.header_cart_hover_list_item_array_price {
		    color: #2485ff;
		    font-size: 14px;
		    line-height: 22px;
		}
		.header_cart_hover_list_item_array_name > a {
		    color: #666;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		.header_cart_hover_list_item_array_number {
		    color: #666;
		}
		.header_cart:hover .header_cart_empty, .header_cart:hover .header_cart_hover {
		    display: block;
		}
		.header_search {
		    cursor: pointer;
		    float: right;
		    height: 100%;
		    line-height: 70px;
		    padding: 0 23px;
		    position: relative;
		    display:block;
		    <!--background: url("/kpImg/icon-min.png") no-repeat; -->
		    
		}
		.header_search:hover {
		    <!--background: url("/kpImg/icon-min.png") no-repeat; -->
		    
		}
		.header_search, .header_search > a > i, .header_search > i {
		    -webkit-transition: all .4s ease;
		    transition: all .4s ease;
		}
		.header_search > a > i, .header_search > i {
		    font-family: Material Icons;
		    color: #999;
		    font-size: 22px;
		    font-style: normal;
		}
		.header_cart_hover_list_item_delete {
		    font-family: Material Icons;
		    font-size: 18px;
		    color: #ddd;
		    line-height: 18px;
		    position: absolute;
		    top: 33px;
		    right: 8px;
		}
		.header_cart_hover_rowTwo {
		    font-family: Rubik-Regular,PingFang SC,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE���ź�,STHeiti,\\534E��ϸ��,sans-serif;
		    width: 260px;
		    padding: 10px;
		    padding-top: 20px;
		    border-top: 1px solid #eee;
		    font-weight: 700;
		    position: relative;
		}
		.header_cart_hover_rowTwo_total {
		    color: #2485ff;
		    font-size: 15px;
		    line-height: 50px;
		    height: 50px;
		}
		.header_cart_hover_rowTwo_goToSettlement {
		    color: #fff;
		    position: absolute;
		    border-radius: 4px;
		    height: 50px;
		    width: 110px;
		    background: #2485ff;
		    font-size: 16px;
		    font-weight: 700;
		    text-align: center;
		    line-height: 50px;
		    right: 10px;
		    top: 20px;
		}
		.header_cart_hover_rowTwo_goToSettlement:hover {
		    background: #006af0;
		    color: #fff !important;
		}
		a:focus, a:hover {
		    color: #2a6496;
		    text-decoration: underline;
		}
		a:active, a:hover {
		    outline: 0;
		}
		.header_cart_hover_rowTwo_total::before {
		
		    content: "\5546\54C1\6570\91CF: ";
		    color: #666;
		}
		.header_cart:hover .header_cart_empty, .header_cart:hover .header_cart_hover {
		    display: block;
		}
		.header_nav {
		    -webkit-transition: all .4s ease;
		    transition: all .4s ease;
		    -webkit-font-smoothing: auto;
		    font-smoothing: auto;
		    font-weight: 700;
		    -moz-user-select: none;
		    -webkit-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    cursor: pointer;
		    color: #999;
		    font-size: 14px;
		    float: right;
		    line-height: 70px;
		    padding: 0 23px;
		    display: block;
		}
		.header_nav .cool_mobile_hover_box {
		    line-height: 25px;
		    position: absolute;
		    top: 70px;
		    left: 0;
		    height: 0;
		    width: 100%;
		    opacity: 0;
		    background: #fff;
		    box-shadow: 0 2px 6px 0 rgba(0,0,0,.05);
		}
		.header_nav:hover {
		    color: #fff;
		}
		a:active, a:hover {
		    outline: 0;
		}
		a:focus, a:hover {
		    color: #2a6496;
		    text-decoration: underline;
		}
		.header_nav:hover {
		    color: #fff;
		    background: #000;
		}
		.header_nav .cool_mobile_hover_box {
		    line-height: 25px;
		    position: absolute;
		    top: 70px;
		    left: 0;
		    height: 0;
		    width: 100%;
		    opacity: 0;
		    background: #fff;
		    box-shadow: 0 2px 6px 0 rgba(0,0,0,.05);
		}
		.header_search:hover > i {
		    color: #fff;
		}
		.header_search:hover {
		    background: #000;
		}
		.yes:hover{
			display:block;
		}
		
/*  ============    ͷ����ʽ����         ===========  */
		.cool_top_nav {
		    background: #333;
		}
		#render {
		    padding-bottom: 70px;
		    overflow: hidden;
		}
		#render, body, html {
		    background-color: #eee;
		}
		.all-option-bg {
		    background: #eee;
		    font-family: Rubik-Regular,PingFang SC,PingHei,PingFangHei,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,sans-serif;
		    padding-bottom: 20px;
		}
		.all-option-wp {
		    width: 1152px;
		    margin: 0 auto;
		}
		.all-option {
		    padding: 20px 6px;
		    font-size: 13px;
		    margin:14px;
		}
		.all-option .all-option-left {
		    width: 30%;
		    float: left;
		}
		.all-option .all-option-left i, .all-option .all-option-left span {
		    display: inline-block;
		    float: left;
		}
		.all-option a {
		    color: #666;
		}
		.all-option .all-option-left i, .all-option .all-option-left span {
		    display: inline-block;
		    float: left;
		}
		.all-option i {
		    margin: 5px 17px 0;
		    width: 2px;
		    height: 2px;
		    line-height: 0;
		    background: #666;
		    display: inline-block;
		}
		.all-option a:hover {
		    color: #55a0ff;
		}
		.all-option .all-option-right {
		    width: 70%;
		    float: right;
		}
		.all-option .all-option-right i, .all-option .all-option-right span {
		    display: inline-block;
		    float: right;
		}
		.small-item {
		    width: 254px;
		    position: relative;
		    z-index: 10;
		}
		.big-item, .small-item {
		    height: 292px;
		    float: left;
		    border-radius: 4px;
		    overflow: hidden;
		    margin-right: 6px;
		    margin-top: 3px;
		    margin-bottom: 3px;
		}
		.big-item, .small-banner-item, .small-item {
		    background-color: #fff;
		}
		.li-inner {
		    text-align: center;
		}
		.hot-p-img {
		    height: 180px;
		    width: auto;
		    max-width: 100%;
		}
		.li-inner .name {
		    height: 35px;
		    line-height: 35px;
		    color: #666;
		    font-size: 14px;
		}
		.li-inner .text {
		    width: 180px;
		    margin: 0 auto;
		    display: block;
		    text-align: center;
		    text-decoration: none;
		}
		.li-inner .name:hover {
		    color: #55a0ff;
		}
		.li-inner .explain {
		    height: 18px;
		    color: #999;
		    line-height: 18px;
		    font-size: 13px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.li-inner .text {
		    width: 180px;
		    margin: 0 auto;
		    display: block;
		    text-align: center;
		}
		.li-inner .price {
		    height: 59px;
		    color: #55a0ff;
		    font-size: 18px;
		    line-height: 59px;
		}
		.hover-state:hover {
		    box-shadow: 0 2px 5px 2px rgba(0,0,0,.05);
		}
		.li-inner .explain {
		    height: 18px;
		    color: #999;
		    line-height: 18px;
		    font-size: 13px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.li-inner .text {
		    width: 180px;
		    margin: 0 auto;
		    display: block;
		    text-align: center;
		}
		.fix_right_btn {
		    border-radius: 4px;
		    cursor: pointer;
		    position: fixed;
		    z-index: 1002;
		    right: 0;
		    bottom: 100px;
		    width: 46px;
		    height: 48px;
		    opacity: .5;
		    background: #fff;
		    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
		}
		.fix_right_btn > .top_btn {
		    position: absolute;
		    top: 41px;
		    width: 40px;
		    height: 40px;
		    text-align: center;
		    margin-top: -38px;
		}
		.fix_right_btn > .top_btn i {
		    line-height: 40px;
		    font-size: 24px;
		    margin-left:8px;
		}
		.all-option-color a {
		    color: #55a0ff;
		}
		